<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://oss.pgyer.com/3df8c41fbb868471c0096f09b67eba16.ipa?auth_key=1574301094-9f7947c81979c59ed57e25b7ed67bc26-0-560780ccd1b631944499ee7c3fb355ec&amp;response-content-disposition=attachment%3B+filename%3DDriverShellShanXi.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://appicon.pgyer.com/image/view/app_icons/527a62d561c447d51ea78f130057b116/120</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://appicon.pgyer.com/image/view/app_icons/527a62d561c447d51ea78f130057b116/120</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zwy.ShanXIDriverShell</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>配送小管家</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
